.todolist-card{
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    background-color: var(--color-light-grey-dark);
    margin: 10px 0px;
    font-size: 18px;
}

@media (max-width: 968px) {
    .todolist-card {
      width: 90%;
    }
  }